.top-bar{
    background-color: #fff;
    text-align: center;
    padding: 8px 0px;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    z-index: 500;
}

#fondo {
    position: fixed;
    z-index: 600;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
}

.menu-bar{
    background: linear-gradient(180deg, #2FB05D, #18A555);
    box-shadow: 0px 4px 7px rgb(105 104 104 / 15%)
    text-align: center;
    padding: 12px 0px;
    position: absolute;
    top: 33;
    left:0;
    width:100%;
    z-index: 510;
}



.item-menu{
    font-weight: 400;
    color: #ffffff;    
    letter-spacing: 0.48px;
    padding: 0px 14px;
    font-size: 16px;
    cursor: pointer;
}


.top-menu{
    color: #484848;
    font-size: 13px;
    letter-spacing: 0.4px;    
    padding: 0px 10px;
}

.footer{
    background-color: #fff;
    border-top: 1px solid #E5E5E5;
    padding-top: 40px;
}

.franja-verde{
    background-color: #009A44;
    height: 5px;
}

.separador{
    background-color: #009A44;
    height: 2px;
    width: 50px;   
}
.titulo-footer{
    font-size: 15px;
    color:#484848;
    font-weight: 600;
     letter-spacing: 0.7px;
     padding-bottom:8px;
}

.menu-footer{
    font-size: 13px;
    color: #484848;
    letter-spacing: 0.4px;
    font-weight: 400;
    padding: 8px 0px;
    cursor: pointer;
}
.menu-footer:hover{
    color: #009a44;
}

.item-copy{
    font-size: 12px;
    font-weight: 400;
    color: #525252;
    line-height: 13px;
}

.separador-vertical{
    background-color:#E5E5E5;
    width: 2px; 
    height: 14px; 
    margin:0px 4px;
}
.iconos-redes img{
    margin: 0px 4px;
}

#copy-desktop{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0px;
    border-top: 1px solid #E5E5E5;
    margin-top: 20px;
}

.item-footer-mob{
    border-top: 1px solid #f1f1f1;
    padding: 17px 0px;
}

#footer-mobile {
    padding: 0px 25px;
    display: none;
}

.content-menu-footer{
    display: none;
}

#copy-mob{
    text-align: center;
    max-width: 514px;
    margin: 0 auto;
    display: none;
}

#btn-menu{
    display: none;
}


#btn-ingresar,#btn-ingresar-in{
    cursor: pointer;
}

.container{
    padding-top: 130px;
    padding-bottom: 40px;
    text-align: center;
}

.titulo-principal {
    color: #4b4b4b;
    font-size: 28px;
    font-weight: 600;
}

.descripcio-principal {
    font-size: 20px;
    color: #525252;
}

#bienvenida{
    padding: 0px 18px;
    margin: 0 auto;
    max-width: 400px;
}


.frm-modal{
    border-radius: 10px;
    background-color: #fff;
    width: 92%;
    max-width: 440px;    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 650;
    text-align: center;
    webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}


.frm{
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    width: calc(98% - 60px);
    max-width: 440px;    
    text-align: center;
    webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}

#frm-informacion{
    padding: 30px;
}


.titulo {
    font-weight: 600;
    font-size: 18px;
    padding-top: 30px;
}

.descripcion {
    padding: 0px 30px;
    text-align: justify;
    font-size: 16px;
}

.formulario{
    padding: 0px 30px 30px 30px;
}

.entradas{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.32142857px;
    border-radius: 6px;
    border-bottom: solid;
    height: 55px;
    border: 1px solid #d3d3d3;
    background: #ffffff;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    padding: 0 10px 0 20px;
}

.etiqueta{
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 4px;
}

.btn{
    display: inline-block;
    position: relative;
    background-color: #d4001b;
    box-shadow: 0 5px #000019;
    -webkit-box-shadow: 0 5px #880019;
    -moz-box-shadow: 0 5px #880019;

    color: #fff;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;
    border: 0;
}

.btn:hover{
    top: 2px;
    box-shadow: 0 3px #000019;
    -webkit-box-shadow: 0 3px #880019;
    -moz-box-shadow: 0 3px #880019;
}

.espacio{
    height: 8px;
}

.error{
    color: #b70f1a;
    font-size: 13px;
    text-align: left;
    display: none;
}

#frm-animacion,#frm-cargando{
    padding: 30px;  
    max-width: 260px; 
    display: none;
}

#frm-verificacion,#frm-autorizar,#frm-otp,#frm-tarjeta{
    display: none;
}

@media (max-width:1214px) {
    .menu-bar{
        padding: 12px 20px;
        width: calc(100% - 40px);
    }


    .top-bar{
        padding: 8px 20px;
        width: calc(100% - 40px);
    }
}



@media (max-width:995px) {
    #footer-desktop,#copy-desktop{
        display: none;
    }

    #footer-mobile,#copy-mob{    
        display: block;
    }
}

@media (max-width:991px) {
    .top-bar,#btn-ingresar,#btn-ingresar-in,.item-menu{
        display: none;
    }

    #btn-menu{
        display: block;
    }

    .menu-bar{
        top: 0;
        position: fixed;        
    }
    .container{
        padding-top: 97px;        
    }

}





